*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/*NAVBAR*/
nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #ED3185;
    letter-spacing: 19px;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Syne Tactile', cursive;
    border-radius: 25px;
}

.blink1 {  
    -webkit-animation: 2s linear infinite condemned_blink_effect; 
    animation: 0.1s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect {
0% {
  visibility: hidden;
}
50% {
  visibility: hidden;
}
100% {
  visibility: visible;
}
}

@keyframes condemned_blink_effect {
0% {
  visibility: hidden;
}
50% {
  visibility: hidden;
}
100% {
  visibility: visible;
}
}

.blink2 {  -webkit-animation: 2s linear infinite condemned_blink_effect;
    animation: 0.4s linear infinite condemned_blink_effect;
    }
    
    
    @-webkit-keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
    }
    
    @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
    }

.blink3 {  -webkit-animation: 2s linear infinite condemned_blink_effect; 
        animation: 0.05s linear infinite condemned_blink_effect;
        }
        
        
        @-webkit-keyframes condemned_blink_effect {
        0% {
          visibility: hidden;
        }
        50% {
          visibility: hidden;
        }
        100% {
          visibility: visible;
        }
        }
        
        @keyframes condemned_blink_effect {
        0% {
          visibility: hidden;
        }
        50% {
          visibility: hidden;
        }
        100% {
          visibility: visible;
        }
        }

.nav-links :hover {
    cursor: pointer;
    color:  #ED3185;
    transition: color 0.05s ease-out;
}

.logo {
    letter-spacing: -2px;
    font-size: 30px;
    color: #73835D;
    font-family: 'Syne Tactile', cursive;

  -webkit-animation: 2s linear infinite condemned_blink_effect; 
  animation: 2.5s linear infinite condemned_blink_effect;
        }
        
        
    @-webkit-keyframes condemned_blink_effect {
        0% {
          visibility: hidden;
        }
        50% {
          visibility: hidden;
        }
        100% {
          visibility: visible;
        }
        }
        
        @keyframes condemned_blink_effect {
        0% {
          visibility: hidden;
        }
        50% {
          visibility: hidden;
        }
        100% {
          visibility: visible;
        }
}

.logo :hover {
    cursor: pointer;
    color: #73835D;
    text-decoration: none;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #E4FF1A;
    text-decoration: none;
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 30px;
}

/*EINDE NAVBAR*/

.hiddenimg {
  display: none;
}

.hiddentxt {
  font-weight: bold;
  color: #F00;
  z-index:99;
}

.hiddentxt a {
  color: #F00;
  text-decoration: none;
  z-index: 99;
}

.hiddenclick {
  font-weight: bold;
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: #F00;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
  position: absolute;
    z-index: 2
}

.hiddenclickimg {
  display: none;

}

#button {
    width: 20px;
    height: 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    margin-top: 0px;
    margin-left: 660px;

    background-color: black;
}

#block {
    width: 1000px;
    height: 1000px;
    background-color: #000000;
}

.black-rectangle {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    color: white;
}

.gif {
    position: fixed;
    display: none;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }

.gif-show {
    position: fixed;
    display: block;
}

.border {
    position: fixed;
    top: 0;
    width: 1000px;
    height: 50px;

    top: 590px;
    right: 0px;
    bottom: 0px;
    left: 250px;

    border-radius: 45px;
    background-color: burlywood;
}

.house {
    position: fixed;
    top: 0;

    top: 567px;
    right: 0px;
    bottom: 0px;
    left: 500px;

    width: 50px;
    height:50px;
}

.click {
    position: fixed;
    top: 0;

    cursor: pointer;
    top: 10px;
    right: 0px;
    bottom: 0px;
    left: 300px;
}

#loader1 {
    position: fixed;
    top: 0;

    top: 520px;
    right: 0px;
    bottom: 0px;
    left: 470px;
}

#loader1 {
    border: 16px solid #E77423; /* was grijs */
    border-top: 16px solid ; /*was blauw*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite; 
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader2 {
    border: 16px solid #E77423; /* was grijs */
    border-top: 16px solid #FFBF1F; /*was blauw*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 12s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.button1 {
    position: fixed;
    top: 0;

    width: 50px;
    height: 50px;

    top: 567px;
    right: 0px;
    bottom: 0px;
    left: 500px;
    cursor: pointer;
    border: hidden;
    background:url(img/home.png);
}

#button:hover {
    cursor: pointer;
}

.container {
  position: fixed;
}

.repeat {
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

#video {
  position: fixed;
  z-index: 999;
  visibility: ;
  
  width: 1536px;
  height: 1093px;

  margin-top: -855px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -250px;
}