#button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    margin-top: 300px;
    margin-left: 660px;

    background-color: black;
}

#block {
    width: 1000px;
    height: 1000px;
    background-color: #000000;
}